<header class="l-header-wrap">
  <div class="l-inner-wrap">
    <nav class="c-header-nav">
      <ul class="c-header-nav__list">
        <li class="c-header-nav__listItem">
          <a href="/">
            <p class="c-header-nav__listItem--ruby">トップ</p>
            <p class="c-header-nav__listItem--menu">TOP</p>
          </a>
        </li>
        <li class="c-header-nav__listItem">
          <a href="<%= path %>/news/news_index.html">
            <p class="c-header-nav__listItem--ruby">ニュース</p>
            <p class="c-header-nav__listItem--menu">NEWS</p>
          </a>
        </li>
        <li class="c-header-nav__listItem">
          <a href="<%= path %>/story/story.html">
            <p class="c-header-nav__listItem--ruby">ストーリー</p>
            <p class="c-header-nav__listItem--menu">STORY</p>
          </a>
        </li>
        <li class="c-header-nav__listItem">
          <a href="<%= path %>/comments/comments.html">
            <p class="c-header-nav__listItem--ruby">著名人コメント</p>
            <p class="c-header-nav__listItem--menu">COMMNETS</p>
          </a>
        </li>
        <li class="c-header-nav__listItem">
          <a href="<%= path %>/cast/cast.html">
            <p class="c-header-nav__listItem--ruby">キャスト</p>
            <p class="c-header-nav__listItem--menu">CAST</p>
          </a>
        </li>
        <li class="c-header-nav__listItem">
          <a href="<%= path %>/inquiry/inquiry.html">
            <p class="c-header-nav__listItem--ruby">問い合わせ</p>
            <p class="c-header-nav__listItem--menu">INQUIRY</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
